{% load static %} 
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
<title>Earlene's Library</title> 
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
</head>

<body style="background-color: #f9e8e8;"> 
    <div class="text-center container mt-5"> 
        <div class="search-form">
            <h3><b>Hello, search your favorite books here!</b></h3>
            <form action="" method="post" class="form-group" id="book-search"> 
            {% csrf_token %} 
                <input type="text" name="book" id="book" class="form-control tengah" style="width: 40vw; margin: 0 auto;"> 
                <button type="submit" class="btn btn-light mt-2">Search</button>
            </form> 
        </div> 

        <table class="table" style="margin-top: 5vw;">
                <thead>
                    <tr class="text-center header">
                        <th scope="col" class="align-middle">No</th>
                        <th scope="col" class="align-middle">Cover</th>
                        <th scope="col" class="align-middle">Title</th>
                        <th scope="col" class="align-middle">Authors</th>
                    </tr>
                
                </thead>
                <tbody>
                    
                </tbody>
        </table>

    </div> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
    <script src="{% static 'js/script.js' %}"></script>

</body> 
</html>